.stagger-container {
  position: relative;
  transition: background 5s ease-out 0.2s;
  padding: 10px 15px;
}

.stagger-container > div {
  position: absolute;
  /* padding: 0.5vh 0.5vw; */

  box-sizing: border-box;
  transform-origin: top left;
  transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0.1s;
}
.stagger-container img {
  width: 97%;
  border-radius: 3%;
  box-shadow: 0 3px 15px rgb(0 0 0 / 0.4);
}
