.single {
  z-index: 1;
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.single.hidden {
  visibility: hidden;
}
.single.visible {
  visibility: visible;
}
#closeSingle {
  position: absolute;
  top: 10px;
  right: 20px;
}
#leftSingle {
  position: absolute;
  left: 20px;
}
#rightSingle {
  position: absolute;
  right: 20px;
}
.single img {
  max-width: 100vw;
  max-height: 100vh;
}
