.container {
  /* min-height for covering background-color */
  min-height: 100vh;
  overflow-x: hidden;
  z-index: 1;
}

#btn_select_tags,
#btn_load_more {
  padding: 5px 20px;
  background-color: #e76f51;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0 3px 10px #2a9d8f55;
  transition: background-color 200ms ease 0s, transform 200ms ease 30ms;
}
#btn_select_tags:active,
#btn_load_more:active {
  background-color: #f4a261;
}

#btn_select_tags:hover,
#btn_load_more:hover {
  transform: scale(1.2);
}

.loading-icon.app-loading {
  width: 30px;
  height: 30px;
  border-width: 5px;
}
